$c1: #ffcdb2;
$c2: #ffb4a2;
$c3: #e5989b;
$c4: #b5838d;
$c5: #bb5588;
$c6: #d4c3c4;
$c7: #676767;
$c8: #333333;
$c9: #eeecec;
$s: 0 0 7px 7px rgba(187, 85, 136, 0.5);
$f1: 'Kaushan Script', cursive;
$f2: "PT Sans", cursive;
$f3: 'Roboto', sans-serif;